.sidenav 
{
  	height: 30vh;
  	width: 0%;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #8e2446;
  	overflow-x: hidden;
  	transition: 0.4s;
	margin-left: 92%;
	cursor: pointer;
	right: 0;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 0;
	border-radius: 30px;
}

.sidenav a 
{
  	
  	text-decoration: none;
  	font-size: 100%;
  	color: #151310;
  	display: block;
  	transition: 0.3s;
	font-weight:600px;
	padding: 20px;
}

.sidenav a:hover {color: #151310;}

.sidenav .closebtn 
{
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 85px;
  	
	cursor: pointer;
}

@media screen and (max-height: 450px) 
{
  	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 5px;}
}